Import the pandas library so that pandas dataframe can be created

In [1]:
import pandas as pd

Use the read_html function to read the tables from the wikipedia page into a variable named tables

In [2]:
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)

Find the length of the tables variable

In [3]:
len(tables)

3

There are 3 dataframes within the tables variable, inspect each one to find which contains the data which we are interested in

In [4]:
tables[0].head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Tables[0] is the dataframe which we are interested in. We now need to remove all the 'Not assigned' entries.

In [37]:
df = tables[0] 
df = df[df.Neighbourhood != 'Not assigned']
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

Now that the 'Not assigned' entries have been removed we need to group the neighbourhoos with the same postcode. The following code achieves this.

In [36]:
df2 = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(list).reset_index()
df2.head()

  Postcode      Borough                             Neighbourhood
0      M1B  Scarborough                          [Rouge, Malvern]
1      M1C  Scarborough  [Highland Creek, Rouge Hill, Port Union]
2      M1E  Scarborough       [Guildwood, Morningside, West Hill]
3      M1G  Scarborough                                  [Woburn]
4      M1H  Scarborough                               [Cedarbrae]

The neighbourhood column is now a list of neighbourhoods. We want this to appear as a string. The following line of code achieves this.

In [41]:
df2['Neighbourhood'] = df2['Neighbourhood'].apply(', '.join)
df2.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

We now have the dataframe in the from we need it. The final step is to see what the shape of the dataframe is.

In [45]:
df2.shape

(102, 3)

Download geospatial data from csv file

In [52]:
Geo_data = pd.read_csv('http://cocl.us/Geospatial_data', header=0)
Geo_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Concatenate the 2 dataframes

In [55]:
result = pd.concat([df2, Geo_data], axis=1)
result.head()

,Postcode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476